body {
    margin-left: 5em;
    margin-right: 5em;
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .jpg_box {
        max-width: 60%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .jpg_box {
        max-width: 40%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .jpg_box {
        max-width: 20%;
    }
}


/*фиксим схопываение*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*ресайз по блоку jpg_box*/
img {
    max-width: 100%;
    height: auto;
}

/*блок обертка img*/
.jpg_box {
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}
/*обертка smoll text в блоке*/
.small_text_top {
    min-height: 60px;
}




